.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  
  .section-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
  }
  
  .note-list-section {
    margin-bottom: 3rem;
  }
  
  .note-form-section {
    background: var(--card-bg);
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  
  }
  .note-form-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }
  
  .note-form label {
    display: block;
    margin-top: 1rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }
  
  .note-form input,
  .note-form textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .note-submit-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 9999px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .note-submit-btn:hover {
    background-color: #4b4ce0;
  }
  